{% load static %}

{%include "navbar.html"%}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>  
    <title>Home | Medium AI</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'images/logo.svg' %}" type="image/x-icon">

    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:400,500,600%7CTeko:300,400,500%7CMaven+Pro:500">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="page">
      <div id="home">
        <!-- Swiper-->
        <section class="section swiper-container swiper-slider swiper-slider-classic" data-loop="true" data-autoplay="4859" data-simulate-touch="true" data-direction="vertical" data-nav="false">
          <div class="swiper-wrapper text-center">
            <div class="swiper-slide" data-slide-bg="static/images/sliderfire.jpg">
              <div class="swiper-slide-caption section-md">
                <div class="container">
                  <h1 data-caption-animate="fadeInLeft" data-caption-delay="0">FIRE DETECTION & PREDICTION SYSTEMS</h1>
                  <p class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100">Utilizing satellite data and advanced machine learning algorithms for early detection and prediction of forest fires to save lives and ecosystems.</p><a class="button button-primary button-ujarak" href="#modalCta" data-toggle="modal" data-caption-animate="fadeInUp" data-caption-delay="200">Get in touch</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide" data-slide-bg="static/images/a-team.jpg">
              <div class="swiper-slide-caption section-md">
                <div class="container">
                  <h1 data-caption-animate="fadeInLeft" data-caption-delay="0">Experienced Team</h1>
                  <p class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100">We are a team of qualified software developers, aimed at creating unique and powerful tools for your business & everyday life.</p><a class="button button-primary button-ujarak" href="#modalCta" data-toggle="modal" data-caption-animate="fadeInUp" data-caption-delay="200">Get in touch</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide" data-slide-bg="static/images/slider-1-slide-6-1770x742.jpg">
              <div class="swiper-slide-caption section-md">
                <div class="container">
                  <h1 data-caption-animate="fadeInLeft" data-caption-delay="0">Award-Winning Software</h1>
                  <p class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100">The software solutions developed by our company have been numerously awarded for usability and innovative features.</p><a class="button button-primary button-ujarak" href="#modalCta" data-toggle="modal" data-caption-animate="fadeInUp" data-caption-delay="200">Get in touch</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Swiper Pagination-->
          <div class="swiper-pagination__module">
            <div class="swiper-pagination__fraction"><span class="swiper-pagination__fraction-index">00</span><span class="swiper-pagination__fraction-divider">/</span><span class="swiper-pagination__fraction-count">00</span></div>
            <div class="swiper-pagination__divider"></div>
            <div class="swiper-pagination"></div>
          </div>
        </section>

      </div>
      <!-- See all services-->
      <section class="section section-sm section-first bg-default text-center" id="services">
        <div class="container">
          <div class="row row-30 justify-content-center">
            <div class="col-md-7 col-lg-5 col-xl-6 text-lg-left wow fadeInUp"><img src="static/images/fireai.png" alt="" width="415" height="592"/>
            </div>
            <div class="col-lg-7 col-xl-6">
              <div class="row row-30">
                <div class="col-sm-6 wow fadeInRight">
                  <article class="box-icon-modern box-icon-modern-custom">
                    <div>
                      <h3 class="box-icon-modern-big-title">What We Offer</h3>
                      <div class="box-icon-modern-decor"></div><a class="button button-primary button-ujarak" href="#">View All Services</a>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".1s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon linearicons-phone-in-out"></div>
                    <h5 class="box-icon-modern-title"><a href="#">FIRE<br>DETECTION & PREDICTION</a></h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text">Need specific software for your company? We are ready to develop it!</p>
                  </article>
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".2s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon linearicons-headset"></div>
                    <h5 class="box-icon-modern-title"><a href="#">CALL CENTER<br>SOLUTIONS</a></h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text">Our experts provide custom products of any complexity for call centers.</p>
                  </article>
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".3s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon linearicons-outbox"></div>
                    <h5 class="box-icon-modern-title"><a href="#">CLOUD<br>DEVELOPMENT</a></h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text">We can also offer you reliable cloud development solutions.</p>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Cta-->
      <section class="section section-fluid bg-default">
        <div class="parallax-container" data-parallax-img="static/images/parallax-1.jpg">
          <div class="parallax-content section-xl context-dark bg-overlay-68 bg-mobile-overlay">
            <div class="container">
              <div class="row row-30 justify-content-end text-right">
                <div class="col-sm-7">
                  <h3 class="wow fadeInLeft">Let's Develop Your Next Great App!</h3>
                  <p>Do you need a unique software solution for your company? We know how to help you!</p>
                  <div class="group-sm group-middle group justify-content-end"><a class="button button-primary button-ujarak" href="#modalCta" data-toggle="modal">Get in Touch</a><a class="button button-white-outline button-ujarak" href="#">Learn More</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Latest Projects-->
      <section class="section section-sm section-fluid bg-default text-center" id="projects">
        <div class="container-fluid">
          <h2 class="wow fadeInLeft">How Does It Work?</h2>
          <p class="quote-jean wow fadeInRight" data-wow-delay=".1s">The images demonstrate the performance of our machine learning models for environmental monitoring. The first set showcases the effectiveness of our smoke detection model, identifying regions with smoke to aid in early wildfire detection. The second set highlights the accuracy of our forest detection model, pinpointing areas covered by dense vegetation.</p>
          <div class="isotope-filters isotope-filters-horizontal">
            <button class="isotope-filters-toggle button button-md button-icon button-icon-right button-default-outline button-wapasha" data-custom-toggle="#isotope-3" data-custom-toggle-hide-on-blur="true" data-custom-toggle-disable-on-blur="true"><span class="icon fa fa-caret-down"></span>Filter</button>
            <ul class="isotope-filters-list" id="isotope-3">
              <li><a class="active" href="#" data-isotope-filter="*" data-isotope-group="gallery">All</a></li>
              <li><a href="#" data-isotope-filter="Type 1" data-isotope-group="gallery">Smoke Detection</a></li>
              <li><a href="#" data-isotope-filter="Type 2" data-isotope-group="gallery">Forest Detection</a></li>
         <!--     <li><a href="#" data-isotope-filter="Type 3" data-isotope-group="gallery">Fire Prediction</a></li> -->
         <!-- <li><a href="#" data-isotope-filter="Type 4" data-isotope-group="gallery">UX and Design</a></li> -->
            </ul>
          </div>
          <div class="row row-30 isotope" data-isotope-layout="fitRows" data-isotope-group="gallery" data-lightgallery="group">
            <!--<div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 4">
               Thumbnail Classic
              <article class="thumbnail thumbnail-classic thumbnail-md">
                <div class="thumbnail-classic-figure"><img src="static/images/fullwidth-gallery-1-420x350.jpg" alt="" width="420" height="350"/>
                </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-zoom60" href="static/images/grid-gallery-1-1200x800-original.jpg" data-lightgallery="item"><img src="static/images/fullwidth-gallery-1-420x350.jpg" alt="" width="420" height="350"/></a>
                    <h5 class="thumbnail-classic-title"><a href="#">FinStep</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.</p>
                </div>
              </article>
            </div> 
          -->

            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 1" data-wow-delay=".1s">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
                <div class="thumbnail-classic-figure"><img src="static/images/RawSmoke.jpg" alt="" width="420" height="350"/>
                </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-zoom60" href="static/images/grid-gallery-2-1200x800-original.jpg" data-lightgallery="item"><img src="static/images/fullwidth-gallery-2-420x350.jpg" alt="" width="420" height="350"/></a>
                    <h5 class="thumbnail-classic-title"><a href="#">Forest Fire Image</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">Input image presenting smoke from a fire.</p>
                </div>
              </article>
            </div>

            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 1" data-wow-delay=".1s">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
                <div class="thumbnail-classic-figure"><img src="static/images/FireEdit.png" alt="" width="420" height="350"/>
                </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-zoom60" href="static/images/grid-gallery-2-1200x800-original.jpg" data-lightgallery="item"><img src="static/images/fullwidth-gallery-2-420x350.jpg" alt="" width="420" height="350"/></a>
                    <h5 class="thumbnail-classic-title"><a href="#">Smoke Detected</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">Output image from our ML model pinpointing the region with smoke.</p>
                </div>
              </article>
            </div>

            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 1" data-wow-delay=".1s">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
                <div class="thumbnail-classic-figure"><img src="static/images/RawNoSmoke.jpg" alt="" width="420" height="350"/>
                </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-zoom60" href="static/images/grid-gallery-2-1200x800-original.jpg" data-lightgallery="item"><img src="static/images/fullwidth-gallery-2-420x350.jpg" alt="" width="420" height="350"/></a>
                    <h5 class="thumbnail-classic-title"><a href="#">Cloud Image</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">Input image without any smoke, but with a sparse cloud.</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 1" data-wow-delay=".1s">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
                <div class="thumbnail-classic-figure"><img src="static/images/NoFireEdit.png" alt="" width="420" height="350"/>
                </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-zoom60" href="static/images/grid-gallery-6-1200x800-original.jpg" data-lightgallery="item"><img src="static/images/fullwidth-gallery-6-420x350.jpg" alt="" width="420" height="350"/></a>
                    <h5 class="thumbnail-classic-title"><a href="#">Cloud Image Output </a></h5>
                  </div>
                  <p class="thumbnail-classic-text">Output image demonstrating that our model does not confuse clouds with smoke. No any smoke detected</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 2" data-wow-delay=".2s">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
                <div class="thumbnail-classic-figure"><img src="static/images/Forest1.jpg" alt="" width="420" height="350"/>
                </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-zoom60" href="static/images/grid-gallery-3-1200x800-original.jpg" data-lightgallery="item"><img src="static/images/fullwidth-gallery-3-420x350.jpg" alt="" width="420" height="350"/></a>
                    <h5 class="thumbnail-classic-title"><a href="#">Forest Tile</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">Image classified as a forest by our model.</p>
                </div>
              </article>
            </div>

            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 2" data-wow-delay=".2s">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
                <div class="thumbnail-classic-figure"><img src="static/images/noforest.jpeg" alt="" width="420" height="350"/>
                </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-zoom60" href="static/images/grid-gallery-7-1200x800-original.jpg" data-lightgallery="item"><img src="static/images/fullwidth-gallery-7-420x350.jpg" alt="" width="420" height="350"/></a>
                    <h5 class="thumbnail-classic-title"><a href="#">Random Tile</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">Image classified as a sea by our model.</p>
                </div>
              </article>
            </div>

          <!--  <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 3" data-wow-delay=".3s">
              
              <article class="thumbnail thumbnail-classic thumbnail-md">
                <div class="thumbnail-classic-figure"><img src="static/images/fullwidth-gallery-4-420x350.jpg" alt="" width="420" height="350"/>
                </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-zoom60" href="static/images/grid-gallery-4-1200x800-original.jpg" data-lightgallery="item"><img src="static/images/fullwidth-gallery-4-420x350.jpg" alt="" width="420" height="350"/></a>
                    <h5 class="thumbnail-classic-title"><a href="#">WeatherCast</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 3">
              
              <article class="thumbnail thumbnail-classic thumbnail-md">
                <div class="thumbnail-classic-figure"><img src="static/images/fullwidth-gallery-5-420x350.jpg" alt="" width="420" height="350"/>
                </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-zoom60" href="static/images/grid-gallery-5-1200x800-original.jpg" data-lightgallery="item"><img src="static/images/fullwidth-gallery-5-420x350.jpg" alt="" width="420" height="350"/></a>
                    <h5 class="thumbnail-classic-title"><a href="#">Home Calendar</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.</p>
                </div>
              </article>
            </div>


            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 3" data-wow-delay=".3s">
              
              <article class="thumbnail thumbnail-classic thumbnail-md">
                <div class="thumbnail-classic-figure"><img src="static/images/fullwidth-gallery-8-420x350.jpg" alt="" width="420" height="350"/>
                </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-zoom60" href="static/images/grid-gallery-8-1200x800-original.jpg" data-lightgallery="item"><img src="static/images/fullwidth-gallery-8-420x350.jpg" alt="" width="420" height="350"/></a>
                    <h5 class="thumbnail-classic-title"><a href="#">WiseMoney</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.</p>
                </div>
              </article>
            </div>
          -->
          </div>
        </div>
      </section>

      <!-- Years of experience-->
      <section class="section section-sm bg-default">
        <div class="container">
          <div class="row row-30 row-xl-24 justify-content-center align-items-center align-items-lg-start text-left">
            <div class="col-md-6 col-lg-5 col-xl-4 text-center"><a class="text-img" href="#">
                <div id="particles-js"></div><span class="counter">16</span></a></div>
            <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
              <div class="text-width-extra-small offset-top-lg-24 wow fadeInUp">
                <h3 class="title-decoration-lines-left">Constellations Around The World!</h3>
                <p class="text-gray-500"><b>MediumAI</b> has an access to the constellation of 16 satellites that provide global coverage and receive data every 15 minutes.</p><a class="button button-secondary button-pipaluk" href="#">Get in touch</a>
              </div>
            </div>
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 wow fadeInRight" data-wow-delay=".1s">
              <div class="row justify-content-center border-2-column offset-top-xl-26">
                <div class="col-9 col-sm-6">
                  <div class="counter-amy">
                    <div class="counter-amy-number"><span class="counter">15</span><span class="symbol">m</span>
                    </div>
                    <h6 class="counter-amy-title">Every</h6>
                  </div>
                </div>
                <div class="col-9 col-sm-6">
                  <div class="counter-amy">
                    <div class="counter-amy-number"><span class="counter">40</span>
                    </div>
                    <h6 class="counter-amy-title">Consultants</h6>
                  </div>
                </div>
                <div class="col-9 col-sm-6">
                  <div class="counter-amy">
                    <div class="counter-amy-number"><span class="counter">12</span>
                    </div>
                    <h6 class="counter-amy-title">Awards won</h6>
                  </div>
                </div>
                <div class="col-9 col-sm-6">
                  <div class="counter-amy">
                    <div class="counter-amy-number"><span class="counter">160</span>
                    </div>
                    <h6 class="counter-amy-title">Employees</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-xl-12 align-self-center">
              <div class="row row-30 justify-content-center">
                <div class="col-sm-6 col-md-5 col-lg-6 col-xl-3 wow fadeInLeft"><a class="clients-classic" href="#"><img src="static/images/balkan.jpg" alt="" width="270" height="117"/></a></div>
                <div class="col-sm-6 col-md-5 col-lg-6 col-xl-3 wow fadeInLeft" data-wow-delay=".1s"><a class="clients-classic" href="#"><img src="static/images/flamingo.png" alt="" width="270" height="117"/></a></div>
                <div class="col-sm-6 col-md-5 col-lg-6 col-xl-3 wow fadeInLeft" data-wow-delay=".2s"><a class="clients-classic" href="#"><img src="static/images/3rdsat.jpeg" alt="" width="270" height="117"/></a></div>
                <div class="col-sm-6 col-md-5 col-lg-6 col-xl-3 wow fadeInLeft" data-wow-delay=".3s"><a class="clients-classic" href="#"><img src="static/images/4thsat.jpg" alt="" width="270" height="117"/></a></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Meet The Team-->
      <section class="section section-sm section-fluid bg-default" id="team">
        <div class="container-fluid">
          <h2>Meet The Team</h2>
          <div class="row row-sm row-30 justify-content-center">
            <div class="col-md-6 col-lg-5 col-xl-3 wow fadeInRight">
              <!-- Team Classic-->
              <article class="team-classic team-classic-lg"><a class="team-classic-figure" href="#"><img src="static/images/a-baran-edit-copy.jpg" alt="" width="420" height="424"/></a>
                <div class="team-classic-caption">
                  <h4 class="team-classic-name"><a href="#">Baran Çiçek</a></h4>
                  <p class="team-classic-status">Cloud Engineer</p>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-3 wow fadeInRight" data-wow-delay=".1s">
              <!-- Team Classic-->
              <article class="team-classic team-classic-lg"><a class="team-classic-figure" href="#"><img src="static/images/a-brijesh-edit-copy.jpg" alt="" width="420" height="424"/></a>
                <div class="team-classic-caption">
                  <h4 class="team-classic-name"><a href="#">Brijesh Pandya</a></h4>
                  <p class="team-classic-status">Machine Learning Engineer</p>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-3 wow fadeInRight" data-wow-delay=".2s">
              <!-- Team Classic-->
              <article class="team-classic team-classic-lg"><a class="team-classic-figure" href="#"><img src="static/images/a-gabri-edit-copy.jpg" alt="" width="420" height="424"/></a>
                <div class="team-classic-caption">
                  <h4 class="team-classic-name"><a href="#">Gabriela Dimitrova</a></h4>
                  <p class="team-classic-status">Computer Vision</p>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-3 wow fadeInRight">
              <!-- Team Classic-->
              <article class="team-classic team-classic-lg"><a class="team-classic-figure" href="#"><img src="static/images/a-ivan-copy.jpg" alt="" width="420" height="424"/></a>
                <div class="team-classic-caption">
                  <h4 class="team-classic-name"><a href="#">Ivan Popov</a></h4>
                  <p class="team-classic-status">R&D</p>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-3 wow fadeInRight">
              <!-- Team Classic-->
              <article class="team-classic team-classic-lg"><a class="team-classic-figure" href="#"><img src="static/images/a-lui-edit-copy.jpg" alt="" width="420" height="424"/></a>
                <div class="team-classic-caption">
                  <h4 class="team-classic-name"><a href="#">Luis Fermoselle</a></h4>
                  <p class="team-classic-status">Business Development Manager</p>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-3 wow fadeInRight" data-wow-delay=".2s">
              <!-- Team Classic-->
              <article class="team-classic team-classic-lg"><a class="team-classic-figure" href="#"><img src="static/images/a-svetan-edit-copy.jpg" alt="" width="420" height="424"/></a>
                <div class="team-classic-caption">
                  <h4 class="team-classic-name"><a href="#">Tsvetan Kacarov</a></h4>
                  <p class="team-classic-status">Data Miner</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <!-- You dream — we embody-->
      <section class="section section-sm bg-default text-md-left">
        <div class="container">
          <div class="row row-50 align-items-center justify-content-center justify-content-xl-between">
            <div class="col-lg-6 col-xl-5 wow fadeInLeft">
              <h2>Get More With Us</h2>
              <!-- Bootstrap tabs-->
              <div class="tabs-custom tabs-horizontal tabs-line tabs-line-big text-center text-md-left" id="tabs-6">
                <!-- Nav tabs-->
                <ul class="nav nav-tabs">
                  <li class="nav-item" role="presentation"><a class="nav-link nav-link-big active" href="#tabs-6-1" data-toggle="tab">01</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link nav-link-big" href="#tabs-6-2" data-toggle="tab">02</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link nav-link-big" href="#tabs-6-3" data-toggle="tab">03</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link nav-link-big" href="#tabs-6-4" data-toggle="tab">04</a></li>
                </ul>
                <!-- Tab panes-->
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="tabs-6-1">
                    <h5 class="font-weight-normal">FREE APPS</h5>
                    <p>We regularly upload new free apps to our website, which is fully accessible to our clients and subscribers. You can also find out about free apps in our blog.</p>
                    <div class="group-sm group-middle"><a class="button button-secondary button-pipaluk" href="#modalCta" data-toggle="modal">Get in touch</a><a class="button button-default-outline button-wapasha" href="#">Learn More</a></div>
                  </div>
                  <div class="tab-pane fade" id="tabs-6-2">
                    <h5 class="font-weight-normal">GET SOCIAL</h5>
                    <p>Every app we develop has built-in social support that allows you to stay connected to your accounts on Facebook, Instagram, Twitter and other networks.</p>
                    <div class="group-sm group-middle"><a class="button button-secondary button-pipaluk" href="#modalCta" data-toggle="modal">Get in touch</a><a class="button button-default-outline button-wapasha" href="#">Learn More</a></div>
                  </div>
                  <div class="tab-pane fade" id="tabs-6-3">
                    <h5 class="font-weight-normal">CUSTOMER SERVICE</h5>
                    <p>Every customer of RatherApp can get access to our friendly and qualified 24/7 support via chat or phone. Fell free to ask us any question!</p>
                    <div class="group-sm group-middle"><a class="button button-secondary button-pipaluk" href="#modalCta" data-toggle="modal">Get in touch</a><a class="button button-default-outline button-wapasha" href="#">Learn More</a></div>
                  </div>
                  <div class="tab-pane fade" id="tabs-6-4">
                    <h5 class="font-weight-normal">GREAT USABILITY</h5>
                    <p>All our apps are designed to have great usability in order to easily operate our applications. That is why our software has high ratings and lots of awards.</p>
                    <div class="group-sm group-middle"><a class="button button-secondary button-pipaluk" href="#modalCta" data-toggle="modal">Get in touch</a><a class="button button-default-outline button-wapasha" href="#">Learn More</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 text-center wow fadeInUp" data-wow-delay=".1s">
              <div class="owl-carousel owl-style-1" data-items="2" data-stage-padding="0" data-loop="true" data-margin="0" data-mouse-drag="true" data-autoplay="true"><a class="box-device" href="#"><img src="static/images/index-4-313x580.png" alt="" width="313" height="580"/></a><a class="box-device" href="#"><img src="static/images/index-5-313x580.png" alt="" width="313" height="580"/></a><a class="box-device" href="#"><img src="static/images/index-4-313x580.png" alt="" width="313" height="580"/></a><a class="box-device" href="#"><img src="static/images/index-5-313x580.png" alt="" width="313" height="580"/></a></div>
            </div>
          </div>
        </div>
      </section>

      <!-- What people Say-->
      <section class="section section-sm section-bottom-70 section-fluid bg-default">
        <div class="container-fluid">
          <h2>What people Say</h2>
          <div class="row row-50 row-sm">
            <div class="col-md-6 col-xl-4 wow fadeInRight">
              <!-- Quote Modern-->
              <article class="quote-modern quote-modern-custom">
                <div class="unit unit-spacing-md align-items-center">
                  <div class="unit-left"><a class="quote-modern-figure" href="#"><img class="img-circles" src="static/images/krasi.jpg" alt="" width="75" height="75"/></a></div>
                  <div class="unit-body">
                    <h4 class="quote-modern-cite"><a href="#">Krasimir Stoev</a></h4>
                    <p class="quote-modern-status">Senior AI Developer at EnduroSat</p>
                  </div>
                </div>
                <div class="quote-modern-text">
                  <p class="q"><strong>EnduroSat</strong> fully supports the innovative forest fire prediction and smoke detection solution presented by your startup. We acknowledge the critical importance of minimizing unnecessary data downlinking and the valuable role your service plays in early fire detection.</p>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-xl-4 wow fadeInRight" data-wow-delay=".1s">
              <!-- Quote Modern-->
              <article class="quote-modern quote-modern-custom">
                <div class="unit unit-spacing-md align-items-center">
                  <div class="unit-left"><a class="quote-modern-figure" href="#"><img class="img-circles" src="static/images/vanessa.jpg" alt="" width="75" height="75"/></a></div>
                  <div class="unit-body">
                    <h4 class="quote-modern-cite"><a href="#">Vanessa Stoynova</a></h4>
                    <p class="quote-modern-status">Embedded Software Developer at EnduroSat</p>
                  </div>
                </div>
                <div class="quote-modern-text">
                  <p class="q"><strong>EnduroSat</strong> is pleased to endorse the forward-thinking forest fire prediction and smoke detection solution proposed by your startup. We recognize the significant impact of efficient data handling and the crucial value of your service in safeguarding our environment.</p>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-xl-4 wow fadeInRight" data-wow-delay=".2s">
              <!-- Quote Modern-->
              <article class="quote-modern quote-modern-custom">
                <div class="unit unit-spacing-md align-items-center">
                  <div class="unit-left"><a class="quote-modern-figure" href="#"><img class="img-circles" src="static/images/user-20-75x75.jpg" alt="" width="75" height="75"/></a></div>
                  <div class="unit-body">
                    <h4 class="quote-modern-cite"><a href="#">Samantha Brown</a></h4>
                    <p class="quote-modern-status">Regular client</p>
                  </div>
                </div>
                <div class="quote-modern-text">
                  <p class="q">----------</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <!-- Pricing
      <section class="section section-sm section-bottom-70 section-fluid bg-default">
        <div class="container">
          <h2>Pricing</h2>
          <div class="row row-30 justify-content-center">
            <div class="col-md-6 col-lg-5 col-xl-4">
              <div class="box-pricing box-pricing-black">
                <div class="box-pricing-body">
                  <h5 class="box-pricing-title">basic</h5>
                  <h3 class="box-pricing-price">$500.00</h3>
                  <div class="box-pricing-time">starting at</div>
                  <div class="box-pricing-divider">
                    <div class="divider"></div><span>Basic</span>
                  </div>
                  <ul class="box-pricing-list">
                    <li class="active">Concept development</li>
                    <li class="active">UI design</li>
                    <li>Configuration management</li>
                    <li>Software quality assurance</li>
                    <li>App integration</li>
                  </ul>
                </div>
                <div class="box-pricing-button"><a class="button button-lg button-block button-gray-4" href="#">Get started</a></div>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-4">
              <div class="box-pricing box-pricing-black box-pricing-popular">
                <div class="box-pricing-body">
                  <h5 class="box-pricing-title">Optimal</h5>
                  <h3 class="box-pricing-price">$800.00</h3>
                  <div class="box-pricing-time">starting at</div>
                  <div class="box-pricing-divider">
                    <div class="divider"></div><span>Optimal</span>
                  </div>
                  <ul class="box-pricing-list">
                    <li class="active">Concept development</li>
                    <li class="active">UI design</li>
                    <li class="active">Configuration management</li>
                    <li class="active">Software quality assurance</li>
                    <li>App integration</li>
                  </ul>
                </div>
                <div class="box-pricing-button"><a class="button button-lg button-block button-primary" href="#">Get started</a></div>
                <div class="box-pricing-badge">popular</div>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-4">
              <div class="box-pricing box-pricing-black">
                <div class="box-pricing-body">
                  <h5 class="box-pricing-title">Ultimate</h5>
                  <h3 class="box-pricing-price">$1200.00</h3>
                  <div class="box-pricing-time">starting at</div>
                  <div class="box-pricing-divider">
                    <div class="divider"></div><span>Ultimate</span>
                  </div>
                  <ul class="box-pricing-list">
                    <li class="active">Concept development</li>
                    <li class="active">UI design</li>
                    <li class="active">Configuration management</li>
                    <li class="active">Software quality assurance</li>
                    <li class="active">App integration</li>
                  </ul>
                </div>
                <div class="box-pricing-button"><a class="button button-lg button-block button-gray-4" href="#">Get started</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      -->
      <!-- Latest blog posts-->
      <section class="section section-sm bg-default" id="news">
        <div class="container">
          <h2>Latest blog posts</h2>
          <div class="row row-45">
            <div class="col-sm-6 col-lg-4 wow fadeInLeft">
              <!-- Post Modern-->
              <article class="post post-modern"><a class="post-modern-figure" href="#"><img src="static/images/eagle.jpeg" alt="" width="370" height="307"/>
                  <div class="post-modern-time">
                    <time datetime="2019-07-04"><span class="post-modern-time-month">08</span><span class="post-modern-time-number">08</span></time>
                  </div></a>
                <h4 class="post-modern-title"><a href="#">The Eagle Bluff Wildfire</a></h4>
                <p class="post-modern-text">The Eagle Bluff Fire, which occurred in 2023, significantly impacted the regions around Osoyoos in British Columbia and Oroville in Washington State. The wildfire started on July 29, 2023, and quickly spread, prompting evacuation alerts and orders for numerous properties.</p>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeInLeft" data-wow-delay=".1s">
              <!-- Post Modern-->
              <article class="post post-modern"><a class="post-modern-figure" href="#"><img src="static/images/canberra.jpeg" alt="" width="370" height="307"/>
                  <div class="post-modern-time">
                    <time datetime="2019-12-17"><span class="post-modern-time-month">12</span><span class="post-modern-time-number">17</span></time>
                  </div></a>
                <h4 class="post-modern-title"><a href="#">The Clear Range Fire</a></h4>
                <p class="post-modern-text">Fires burned across an area eight times as big as the 2019–20 Black Summer bushfires that tore through 10 million hectares in southeast Australia. My research shows the 2023 fires burned more than 84 million hectares of desert and savannah in northern Australia.</p>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeInLeft" data-wow-delay=".2s">
              <!-- Post Modern-->
              <article class="post post-modern"><a class="post-modern-figure" href="#"><img src="static/images/amazon.jpeg" alt="" width="370" height="307"/>
                  <div class="post-modern-time">
                    <time datetime="2019-07-22"><span class="post-modern-time-month">07</span><span class="post-modern-time-number">15</span></time>
                  </div></a>
                <h4 class="post-modern-title"><a href="#">Amacro Fire Amazonas</a></h4>
                <p class="post-modern-text">From January through June, Brazil recorded 13,489 wildfires in the Amazon, according to satellite data from the national space agency. That is 61 percent more fires than during the first half of last year. And the wildfire season has yet to reach its peak, which usually comes in August or September.</p>
              </article>
            </div>
          </div>
        </div>
      </section>

      <!-- Contact information-->
      <section class="section section-sm bg-default">
        <div class="container">
          <div class="row row-30 justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-4">
              <article class="box-contacts">
                <div class="box-contacts-body">
                  <div class="box-contacts-icon fl-bigmug-line-cellphone55"></div>
                  <div class="box-contacts-decor"></div>
                  <p class="box-contacts-link"><a href="tel:#">Product Manager <br> Gabriela Dimitrova</a></p>
                  <p class="box-contacts-link"><a href="tel:#">+359 88 802 0536</a></p>
                </div>
              </article>
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4">
              <article class="box-contacts">
                <div class="box-contacts-body">
                  <div class="box-contacts-icon fl-bigmug-line-up104"></div>
                  <div class="box-contacts-decor"></div>
                  <p class="box-contacts-link"><a href="#">Hotel Gela, Village Of,  4710 Smolyan, Bulgaria</a></p>
                </div>
              </article>
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4">
              <article class="box-contacts">
                <div class="box-contacts-body">
                  <div class="box-contacts-icon fl-bigmug-line-chat55"></div>
                  <div class="box-contacts-decor"></div>
                  <p class="box-contacts-link"><a href="mailto:#">info@mediumai.space</a></p>
            
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

{%include "contact.html"%}

       
      <!-- <section class="section section-fluid"><a class="section-banner" href="https://www.templatemonster.com/intense-multipurpose-html-template.html" style="background-image: url(images/banner/banner-bg-01-1920x310.jpg); background-image: -webkit-image-set( url(images/banner/banner-bg-01-1920x310.jpg) 1x, url(images/banner/banner-bg-01-3840x620.jpg) 2x )" target="_blank"><img src="images/banner/banner-fg-01-1600x310.png" srcset="images/banner/banner-fg-01-1600x310.png 1x, images/banner/banner-fg-01-3200x620.png 2x" alt="" width="1600" height="310"></a></section> -->


{%include "footer.html"%}
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="{% static 'js/core.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <!-- coded by Himic-->
  </body>
</html>